<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8"/>
<head>
    <style>
        @page {
            size: A4;
            margin: 0;
            margin-bottom: 0;
            margin-top: 8mm;
        }

        /* Some clean-up to be able to use the full page for printing */
        body {
            margin: 0;
            padding: 0;
            border: 0;
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border-collapse: separate;
            border-spacing: 2mm;
            table-layout: fixed;
            margin-left: auto;
            margin-right: auto;
        }

        td {
            position: relative;
            border-style: solid;
            border-width: 1px;
            border-color: black;

            width: 160mm;
            height: 67mm;
            padding: 0;

            vertical-align: top;
            /*line-height: 100%;*/
        }

        div.submitter {
            position: absolute;
            top: 10mm;
            right: 2mm;
            width: 4.3cm;
            text-align: left;
        }

        div.action {
            position: absolute;
            top: 5mm;
            left: 4mm;
            width: 10cm;
            text-align: left;
        }

        div.plz {
            position: absolute;
            top: 20mm;
            left: 15mm;
            width: 9cm;
            text-align: center;
            font-size: 30pt;
        }

        div.date {
            position: absolute;
            top: 49mm;
            left: 4mm;
            width: 5cm;
            text-align: left;
        }

        div.stats {
            position: absolute;
            top: 45mm;
            right: 5mm;
            width: 4cm;
            text-align: left;
        }
    </style>
</head>

<body>
    <table>
        {% for label in box_labels %}
        <tr>
            <td>
                <div class="action"><b>Auftrags-/Aktionsbezeichnung:</b><br/>{{ label.action_name }}</div>
                <div class="submitter">
                    <b>Einlieferer:</b><br/>
                    Chaos Computer Club e. V.<br/>
                    5059101428
                </div>
                <div class="plz"><b>DIALOGPOST<br/>{{ label.plz }}</b></div>
                <div class="date">
                    <b>Einlieferungsdatum:<br/>
                    <span style="font-size:20pt;">&nbsp;{{ label.date }}</span></b>
                </div>
                <div class="stats"><b>
                    Sendungen: {{ label.num_issues }}<br/>
                    Behälter: {{ label.box_num }}/{{ label.total_boxes }}<br/>
                    Wagen: {{ label.cart_num }}</b>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>