{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <h1>E-mail unknown</h1>
    <form action="{% url 'api:api_bulk_import_bounces' %}" method="post" class="form">
        <div class="form-group">
            {% csrf_token %}
            <textarea name="emails" class="form-control" rows="20"></textarea>
        </div>
        {% buttons %}
        <button class="save btn btn-primary" type="submit">Submit</button>
        {% endbuttons %}
    </form>
{% endblock %}