{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extra_headers %}
    <link rel="stylesheet" href="{% static "/css/statistics_zip.css" %}" />
    <script src="{% static "/js/d3.min.js" %}"></script>
    <script src="{% static "/js/topojson.min.js" %}"></script>
    <script src="{% static "/js/FileSaver.min.js" %}"></script>
{% endblock %}

{% block content %}
            <div class="plz-statistics"></div>
            <div class="plz-statistics-controls">
                <form action="" method="GET">
                    <input type="checkbox" class="city-markers" /> Display city markers<br />
                    <input type="checkbox" class="city-labels" /> Display city names<br />
                    <input type="checkbox" class="empty-minimum" /> Do not color empty values with minimum color<br />
                    <button class="btn btn-primary">Download</button>
                </form>
            </div>
            <script>
{% include "statistics_zip.js" %}
            </script>
        {% endblock %}
