{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load currency %}

{% block extra_headers %}
{{ formset.media }}
{% endblock %}

{% block content %}
<h1>Transactions</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}

    <table class="table" id="transactions">
        <thead>
        <tr>
            <th data-toggle="tooltip" title="Information from csv">Information</th>
            <th data-toggle="tooltip" title="identified from csv">Member</th>
            <th data-toggle="tooltip" title="Name from csv">Name (Import)</th>
            <th data-toggle="tooltip" title="Amount from csv">Amount (Import)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>

        {% for form in formset %}
            {{ form.non_field_errors }}
            {% if form.instance.status == status_matching %}
        <tr class="bg-success">
            {% else %}
        <tr class="bg-danger">
            {% endif %}
            <td class="information"> {{ form.instance.information }}{{ form.information.errors }}</td>
            <td class="chaos_number"> {{ form.member }}{{ form.member.errors }}</td>
            <td> {{ form.instance.payer }}{{ form.payer.errors }}</td>
            <td align="right"> {{ form.instance.amount|currency }}{{ form.amount.errors }}</td>
            <td class="status"> {{ form.status }}{{ form.status.errors }}</td>

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

        </tr>
        {% endfor %}

        </tbody>
    </table>

    <button class="btn btn-danger pull-right">Save Changes</button>

    <div class="pagination">
        <span class="step-links">
            {% if formset.page.has_previous %}
                <a href="?page={{ formset.page.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ formset.page.number }} of {{ formset.page.paginator.num_pages }}
            </span>

            {% if formset.page.has_next %}
                <a href="?page={{ formset.page.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</form>

<script>
    // Highlight detected chaos number in Information
    $("#transactions").ready(function () {
        $("tr").each(function () {
            row = $(this)
            row.find(".chaos_number select").each(function () {
                chaos_number = this.value;
                if (chaos_number) {
                    row.find(".information").each(function () {
                        var new_str = $(this).html().replace(new RegExp(chaos_number, 'g'), "<b>" + chaos_number + "</b>");
                        $(this).html(new_str);
                    });
                }
            });
        });
    });
</script>
<script>
    // Color the rows green or red depending on if the state is matched or not
    $('.status select').on('change', function () {
        var row = this.closest("tr");
        switch (this.value) {
            case "{{ status_matching }}":
                $(row).removeClass('bg-danger');
                $(row).addClass('bg-success');
                break;
            default:
                $(row).removeClass('bg-success');
                $(row).addClass('bg-danger');
        }
    })
</script>
{% endblock %}
